* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.alert-box {
  background-color: skyblue;
  padding: 20px;
  color: white;
  border-radius: 5px;
  display: none;
}

nav {
  display: flex; /*자식요소들을 가로로 배치*/
  align-items: center; /*자식요소들을 세로로 가운데 정렬*/
  justify-content: space-between; /*자식요소들 사이에 공간을 균등하게 배치*/
  padding: 0 24px; /*nav 요소의 좌우에 24px의 패딩 추가*/
  height: 56px; /*nav 요소의 높이를 56px로 설정*/
  background-color: #fff; /*nav 요소의 배경색을 흰색으로 설정*/
  border-bottom: 1px solid #ddd; /*nav 요소의 아래쪽에 1px 두께의 회색 실선 추가*/
}

.logo {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #111;
}

.nav-links {
  display: flex; /*메뉴 항목들을 가로로 나열*/
  gap: 8px; /*항복 사이 간격*/
  list-style: none; /* 점 제거*/
}

/*.nav-links a 기본값*/
.nav-links a {
  display: block; /*링크를 블록 요소로 만들어 클릭 영역 확장*/
  padding: 6px 12px; /*링크의 패딩 설정*/
  text-decoration: none; /*링크의 밑줄 제거*/
  color: #444; /*링크의 텍스트 색상 설정*/
  border-radius: 4px; /*링크의 모서리를 둥글게 설정*/
}

/*.nav-links a 마우스올리때만 (기본값에 덮어씀)*/
.nav-links a:hover {
  background-color: #f0f0f0; /*링크에 마우스를 올렸을 때 배경색 변경*/
  color: #000; /*링크에 마우스를 올렸을 때 텍스트 색상 변경*/
}

/*.nav-links a.active ← .active 클래스 있을 때만*/
.nav-links a.active {
  background-color: #111; /*활성화된 링크의 배경색 설정*/
  color: #fff; /*활성화된 링크의 텍스트 색상 설정*/
}
